.picture {
  background: url(../Images/image\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 821px;
  max-width: 1773px;
  color: #fff;
  align-items: center;
  color: #fff;
  letter-spacing: 3px;
}

#rectangle {
  width: 1770px;
  height: 80px;
  background: #5474fd;
  align-content: center;
  color: #fff;
}

.scroll {
  color: #fff;
  height: 46px;
  width: 108px;
}

/*.button {
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-family: "Aleo", serif;
  text-transform: capitalize;
}
*/
/*
.header-links {
  align-content: right;
  text-align: right;
  color: white;
}
*/

h3 {
  align-content: center;
  color: #fff;
}
h4 {
  display: flex;
  align-items: center;
}
/*
/* Style the search field 
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: red;
}
*/
/* Style the search field */ /*
.Search-search-button {
  padding: 1px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 80%;
  background-color: #2196f3;
}*/

.btn__explore {
  display: flex;
  /*float: left;*/
  width: 228px;
  height: 63px;
  /*padding: 10px;*/
  background: #2196f3;
  color: white;
  font-family: "Aleo", serif;
  font-size: 16px;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 20px;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: left;
  border: none;

  /*border: 1px solid grey;*/
  /*border-left: none; /* Prevent double borders */
  cursor: pointer;
}

li {
  display: block;
  float: right;
  /*text-align: right;*/
  padding: 5px;
  /*align-content: flex-end;*/
}

/*
/* Style the submit button -- OBS byt namn från form.example button
button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders
  cursor: pointer;
}
*/
button {
  /*float: left;*/
  width: 228px;
  height: 63px;
  /*padding: 10px;*/
  background: #2196f3;
  color: white;
  font-family: "Aleo", serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  transition-duration: 0.4s;
  /*border: 1px solid grey;*/
  /*border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.Search-search {
  /*float: left;*/
  width: 200px;
  height: 100px;
  /*padding: 10px;*/
  background: #2196f3;
  color: white;
  font-family: "Aleo", serif;
  font-size: 16px;
  text-align: center;
  transition-duration: 0.4s;
  border: #fff;
  /*border: 1px solid grey;*/
  /*border-left: none; /* Prevent double borders */
  cursor: pointer;
}

button:hover {
  background-color: #4caf50;
  color: white;
}

.social-media {
  text-align: center;
  color: white;
  align-content: space-between 10px;
}

/*
.social-media:hover {
  background-color: blue; /* Green */
/*
}
*/
/* Style the submit button */
/*
form.example button:hover {
  background: #0b7dda;
}
*/
/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/*
.rectangle {
  width: 2px;
  height: 2px;
  background-color: #5474fd;
  text-align: center;
}
*/
/* link color normal state */
a {
  /*background-color: blue;*/
  color: white;
  text-decoration: none;
  /*align-content: flex-end;*/
}

/* visited link 
a:visited {
  color: green;
}
*/
/* mouse over link 
a:hover {
  /* color: white;
  background-color: red;
}
*/
/* selected link 
a:active {
  color: white;
}
*/
text {
  color: #fff;
  align-content: center;
  height: 63px;
  max-width: 503px;
}
form {
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: white;
  /* max-width: 41rem;*/
  width: 503px;
  padding: 0.1rem;
  height: 63px;
  text-align: center;
  margin: 1rem;
  border: none;
}
input {
  flex-grow: 2;
  border: none;
  max-width: 31rem;
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.2rem;
  color: #999999;
  font-size: 0.8rem;
  line-height: 0px;
}

/*
/* visited link */ /*
a:visited {
  color: white;
}
*/
/* mouse over link */
a:hover {
  color: #5474fd;
  visibility: visible;
  opacity: 1;
  /*color: blue;*/
}

/* selected link 
a:active {
  color: white;
}
*/
.box-2 {
  background: url(../Images/city.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  display: flex;
  justify-content: center;
  height: 685px;
  width: 1770px;
  color: #fff;
  align-items: center;
  text-transform: uppercase;
  font-family: "josefin Sans";
  text-align: left;
}

.text-block {
  position: relative;
  display: inline-block;
  margin-left: 20%;
  padding-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.mountain {
  background: url(../Images/mountain.png);
  background-repeat: no-repeat;
  background-position-x: right;
  height: 220px;
  position: relative;
  left: 800px;
}

.Spain {
  background: url(../Images/hotel.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 1757px;
  /*padding-bottom: 50px;*/

  /*justify-content: center;*/
  /*color: #fff;*/
  /* align-items: center;*/
}

.Spain2 {
  background: url(../Images/sea.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  /*padding-bottom: 50px;*/

  /*justify-content: center;*/
  /*height: 500px;*/
  width: 1770px;
  /*color: #fff;
  align-items: center;*/
}

.box-5 {
  background: url(../Images/Sambackground.png);
  display: flex;
  column-gap: 10px;
  height: 731px;
  width: 1770px;
  color: #ffff;

  /* background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  align-items: center;
  text-align: center;
  */
}
.Sam {
  height: 100px;
  background: none;
  margin-top: 100px;
}
/*
button {
  //float: left;//
  width: 228px;
  height: 63px;
  //padding: 10px;//
  background: #2196f3;
  color: white;
  font-family: "Aleo", serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  transition-duration: 0.4s;
  //border: 1px solid grey;//
  /*border-left: none; // Prevent double borders //
  cursor: pointer;
}

.button:hover {
  background-color: #4caf50; // Green //
  color: white;
}
*/
.Spain-text {
  width: 540px;
  height: 371px;
  margin-left: 22%;
  margin-top: 185px;
  background-color: black;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  opacity: 0.8;
  padding-left: 25px;
  /*margin: 25px;*/

  /*padding: 20px; */
}
.Spain-text-2 {
  max-width: 540px;
  height: 371px;
  margin-left: 50%;
  margin-top: 230px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  padding-left: 25px;
  color: #fff;
  background-color: black;

  opacity: 0.8;
  /*margin: 25px;*/

  /*padding: 20px; */
}

.Symbols {
  background: url(../Images/Symbols.png);
  display: flex;
  text-align: center;
  align-content: center;
  height: 239px;
  width: 1746px;
}

.rectangle-footer {
  background-color: #333333;
  color: #fff;
  text-align: center;
}

.Looking {
  align-items: center;
}

.social-media {
  text-align: center;
  list-style: none;
  color: #fff;
  /*text-shadow: #fff;*/
  align-content: stretch 10px;
}

.Sam-text {
  width: 668px;
  height: 284px;
  margin-left: 22%;
  margin-top: 185px;
  background-color: black;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  opacity: 0.8;
  padding-left: 25px;
}

.font {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  opacity: 0.8;
  float: left;
  align-items: left;
  /*text-align: left;*/
}

p.citat:first-letter {
  /*font-variant-alternates: "fa-solid fa-quote-left";*/
  font-size: 100px;
  display: block;
  float: left;
  line-height: 0, 5;
  /*margin: 15px 15px 10px 0;*/
}

/* visited link 
a:visited {
  color: white;
}

/* selected link 
a:active {
  color: white;
}

.left,
.right {
  float: left;
  width: 20%; /* The width is 20%, by default 
}
*/

@media screen and (max-width: 600px) {
  .picture {
    max-width: 100%;
  }
  form {
    flex-direction: column;
    text-align: center;
  }
  .logo {
    max-width: 90%;
  }
  .box-2 {
    max-width: 90%;
    margin: 4%;
  }
  .boathouse {
    max-width: 100%;
  }
  .Symbols {
    max-width: 100%;
  }
  .Spain {
    font-size: 18px;
  }
  .Looking {
    flex-direction: column;
  }
  .Sam-text {
    max-width: 60%;
  }
}
