.body {
    background-color: #496BFE;
    color: #FFFFFF;
    display: grid
}

.h1 {
    background-color: #5474FD;
    color: #FFFFFF;
}

.ul {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: stretch;
    background-color: #496BFE;
    color: #FFFFFF;
}

.nav {
    color: #FFFFFF;
}

.logo-class {
    color: #FFFFFF;
}

.div-id {
    color: #FFFFFF;
}

.i-class {
    background-color: #496BFE;
    color: #FFFFFF;
}

.li {
    background-color: #496BFE;
    color: #FFFFFF;
}

.h2 {
    background-color: #496BFE, #000;
    color: #FFFFFF;
}

.h3 {
    color: #FFFFFF;
    background-color: #000;
}

.h4 {
    color: #FFFFFF;
    background-color: #000;
}

.h5 {
    background-color: #000;
    color: #FFFFFF;
}

.p {
    background-color: #000;
    color: #FFFFFF;
}

.img {
    height: 100px;
    width: 100px;
}

.button-class {
    color: #496BFE;
    /* unvisited link */
    a: link .color: green;
    /* visited link */
}

a:visited {
    color: green;
}


/* mouse over link */

a:hover {
    color: red;
}


/* selected link */

a:active {
    color: yellow;
}

.h6 {
    color: #FFFFFF;
    background-color: #000;
}