.picture {
	
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	min-height: 100px;
	align-items: center;
	color: #fff;
}

 .header--text {
	color:#fff;
	align-content: center;
	text-align: end;
	
}
	
	.header_links {
		display: flex
		align-items: flex-end
		align-content: center
		color:#fff;
	}
	&.box-2 {
	    background: url(../Images/city.png);
		background-repeat: no-repeat
		background-size: cover
		display: flex
		justify-content: center
		min-height: 100vh
		width: auto
		color: #fff
		align-items: center
		text-transform: uppercase
	}
	&.box-3 {
		background: url(../Images/hotel.png);
		background-repeat: no-repeat;
		background-size: cover;
		justify-content: center;
		min-height: 100vh;
		color: #fff;
		align-items: center;
	}
	&.box-4 {
		background: url(../Images/sea.png);
		background-repeat: no-repeat;
		background-size: cover;
		justify-content: center;
		min-height: 100vh;
		width: 100%;
		color: #fff;
		align-items: center;
	}
	&.box-5 {
		background: url(../Images/Sambackground.png);
		background-repeat: no-repeat;
		background-size: cover;
		justify-content: center;
		min-height: 100vh;
		color: white;
		align-items: center;
	}
	&.left, &.right {
		float: left;
		width: 20%;
	}
	&.main {
		float: left;
		width: 60%;
	}

a:visited {

	color: white;
	
}


a:hover {
	color: white;
}
a:active {
	color: white;
}
.text {
	color: #fff;
	align-content: center;
}
a:visited {
	color: white
}
a:hover {
	color: white
}
a:active {
	color: white
}
footer {
	color: #fff
	align-items: flex-start
}
a:visited {
	color: white
}
a:active {
	color: white
}
@media screen and (max-width: 800px) {
	
}
	